<div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
  <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">New Project</h1>
  <%= render "form", project: @project %>
</div>